.detail {

    width: 1150px;
    margin: 0 auto;
    clear: both;
    padding: 20px 0 60px;
    overflow: auto;
}


.img-bg {
    width: 382px;
    background-color: #eeeeee;
    float: left;
}

.img-box {
    margin: 5px;
    width: 372px;
    height: 300px;
    background-size: 372px 300px;

}

.img-nav {
    padding: 17px 0 8px 5px;
}

.img-nav li {
    display: inline-block;
    border: solid 1px #d6d6d2;
}

.img-nav .active {
    border: solid 1px #ff0000;
}
.img-nav li:hover {
    border: solid 1px #ff0000;
}

.img-nav .small-img {
    width: 52px;
    height: 50px;
    background-size: 52px 50px;
}
.detail-content{
    width: 494px;
    background-color: grey;
    float: left;

}

.menu-right {
    width: 274px;
    background-color: #04adf0;
    float: left;
}