.menu-left {
    width: 276px;
    float: left;
    position: absolute;
    margin-top: 18px;
    background-color: #ffffff;
    z-index: 0;
    display: none;

}

.nav-left:hover .menu-left {
    display: block;
}

.menu-left a {
    border-bottom: solid 1px #dddddd;
    border-right: solid 1px #dddddd;
    padding: 18.5px 50px;
    display: block;
    font-weight: bold;
}

.menu-left a:hover {
    color: #70ba28;
}

.menu-left .a1 {
    border-left: solid 3px #70ba28;
}

.menu-left .a2 {
    border-left: solid 3px #04adf0;
}

.menu-left .a3 {
    border-left: solid 3px #efc73a;
}

.menu-left .a4 {
    border-left: solid 3px #f6821f;
}

.menu-left .a5 {
    border-left: solid 3px #f03442;
}

.menu-left .a6 {
    border-left: solid 3px #f034ca;
}

.detail {

    width: 1150px;
    margin: 0 auto;
    clear: both;
    padding: 20px 0 60px;
    overflow: auto;
}


.img-bg {
    width: 382px;
    background-color: #eeeeee;
    float: left;
}

.img-box {
    margin: 5px;
    width: 372px;
    height: 300px;
    background-size: 372px 300px;

}

.img-nav {
    width: 367px;
    padding: 17px 0 8px 5px;
}

.img-nav li {
    display: inline-block;
    border: solid 1px #d6d6d2;
}

.img-nav .active {
    border: solid 1px #ff0000;
}
.img-nav li:hover {
    border: solid 1px #ff0000;
}

.img-nav .small-img {
    width: 52px;
    height: 50px;
    background-size: 52px 50px;
}
.detail-content{
    width: 494px;
    float: left;
}

.detail-content .content {
    padding: 7px 60px;
}

.detail-content h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}
.detail-content .description {
    border-top: solid 2px #dddddd;
    margin-top: 8px;
    padding: 8px 0;
    border-bottom: solid 2px #dddddd;
}

.description p {
    line-height: 28px;
}

.put-info h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 14px 0;
}

.input-group input {
    border: solid 1px #cccccc;
    height: 34px;
    width: 200px;
    border-radius: 2%;
}

.input-group button {
    height: 34px;
    color: #fff;
    border-radius: 2%;
    background-color: #ff5400;
    border: none;
}


.menu-right {
    width: 274px;
    float: left;
}

.policy-guide {
    margin-bottom: 15px;
}

.policy-guide .policy-guide-header {
    background-color: #333333;
    padding: 12px;
    border-left: solid 5px #70ba28;
}
.policy-guide-header h3 {
    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
}
.policy-guide-content {
    border: solid 1px #e5e5e5;
    padding: 10px 20px 16px;
}



.policy-guide-content span {
    display: inline-block;
    background-color: #70ba28;
    border-radius: 10%;
    width: 22px;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
    margin-right: 5px;
    margin-top: 6px;
}

.policy-guide-content p {
    line-height: 14px;
    margin-bottom: 14px;
}

.policy-guide-content .number{
    font-weight: bold;
}

.policy-guide-content .link{
    font-weight: bold;
    font-size: 12px;
}

.policy-guide-content .phone{
    font-weight: bold;
    color: #ff5400;
}


/*****************************For About*************************************/
.about {
    width: 1150px;
    margin: 20px auto 60px;
    overflow: auto;
}

.about-left {
    width: 272px;
    float: left;
}

.about-left-content {
    border: solid 1px #e5e5e5;
}

.about-left a {
    text-decoration: none;
    color: #7f667f;
    display: block;
    padding: 14px 10px;
}

.about-left .line-bottom {
    border-bottom: solid 1px #c3c3c3;
}
.about-left a:hover {
    color: #70ba28;
}
.about-main {
    width: 860px;
    float: left;
}
.about-main-content {
    overflow: hidden;
    padding: 0px 20px;
}

.about-main-content h3 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.about-main-content p {
    margin-bottom: 20px;
}
.about-main-content .p-last {
    margin-bottom: 30px;
}

.about-main-content h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
}





