@media only screen and (max-width: 480px) {

    .detail, .img-bg, .detail-content, .menu-right {
        width: 100%;
        margin-bottom: 20px;
    }

    .img-box, .img-nav {
        margin: 0 auto;
    }
    .detail-content .content {
        padding: 7px 10px;
    }

    .put-info {
        margin-bottom: 20px;
    }

    .img-box {
        margin: 5px;
        width: 350px;
        height: 280px;
        background-size: 350px 280px;
        margin: 0 auto;

    }

    /*****************************For About*************************************/
    .about-left {
        width: 100%;
    }

    .about-main {
        width: 100%;
    }
}



